.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.container-1{
  display: flex;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
body{
  background-image: url("./weather_data/pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.input-container {
  margin-bottom: 20px;
}

input[type="text"] {
  width: calc(100% - 85px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

button {
  width: 85px;
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
}

.weather-info p {
  margin: 5px 0;
}

.weather-info strong {
  font-weight: bold;
}
